.dealers-list {
  display: table;
  width: auto;
  border: 1px solid #666666;
  border-spacing: 5px;
}

.dealers-list-row {
  display: table-row;
  width: auto;
  clear: both;
}

.dealers-list-row:first-child {
  font-weight: bold;
}

.dealers-list-col {
  float: left;
  display: table-column;         
  width: 200px;
}

.pagination ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.pagination li {
  display: inline-block;
  padding-left: 15px;
  cursor: pointer;
}

.pagination .active a {
  font-weight: bold;
}
