---
http_interactions:
- request:
    method: get
    uri: https://fakerapi.it/api/v1/companies/?_quantity=10&_seed=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","code":200,"total":10,"data":[{"name":"Ebert and Sons","email":"gbarton@muller.org","vat":"472805508","phone":"+2100901518715","country":"British
        Virgin Islands","addresses":[{"street":"993 Prosacco Wells","streetName":"Ruecker
        Union","buildingNumber":"6186","city":"Gordonside","zipcode":"84631","country":"Iraq","county_code":"GE","latitude":-32.350944,"longitude":8.837339},{"street":"7878
        Koelpin Highway","streetName":"Johns Neck","buildingNumber":"8565","city":"Schmelerberg","zipcode":"71597","country":"Vanuatu","county_code":"CU","latitude":32.814744,"longitude":-146.591708},{"street":"8876
        Simonis Valley Apt. 966","streetName":"Armand Cove","buildingNumber":"490","city":"Vernerstad","zipcode":"79695","country":"French
        Southern Territories","county_code":"FM","latitude":32.569776,"longitude":-128.836752}],"website":"http:\/\/ledner.com","image":"http:\/\/placeimg.com\/640\/480\/people","contact":{"firstname":"Emilia","lastname":"Von","email":"sgislason@kuhn.com","phone":"+6565912028423","birthday":"2008-09-20","gender":"female","address":{"street":"3735
        Kaya Lakes Suite 694","streetName":"Keira Cape","buildingNumber":"953","city":"Kariannefort","zipcode":"97349","country":"Monaco","county_code":"BN","latitude":-71.843162,"longitude":-15.606366},"website":"http:\/\/streich.com","image":"http:\/\/placeimg.com\/640\/480\/people"}},{"name":"Hermann
        Ltd","email":"vladimir01@yahoo.com","vat":"700434043","phone":"+3762920067100","country":"Mayotte","addresses":[{"street":"66181
        Sipes Hollow","streetName":"Nienow[...]
